body {
	background-color: #000;
/*	background: url(images/bparkbw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  background-size: cover;
	margin: 0 auto;
}

#container {
	margin: 0 auto;
	top: 0;
	width: 100%;
	height: 100%;
/*		background: url(court.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#beach {
	height: 1000px;
	width: 100%;
	background: url(images/bparkbw.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

#text {
	width: 50%;
	margin: 0;
	font-size: 3em;
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
}

#content {
	margin: 0 auto;
	width: 100%;
/*	margin-top: 100px;*/
	margin-bottom: 50px;
/*	height: 700px;*/
	/*background-color: rgba(255, 255, 255, 0.5);*/
	border-radius: 1%;
	z-index: 100000;
}

#content2 {
	margin: 0 auto;
	width: 100%;
	margin-top: 150px;
	margin-bottom: 500px;
	height: 700px;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 100000;
/*		background: url(images/beach.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#content3 {
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 100%;
	height: 700px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100000;
/*	background: url(images/beach1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

#text2 {
	width: 75%;
	margin: 0 auto;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Ubuntu', sans-serif;*/
/*	font-family: 'Poiret One', cursive;*/
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

#title {
	width: 100%;
	position: fixed;
	top: 300px;
/*	background-color: rgba(0, 0, 0, 0.5);*/
	height: 50px;
}

#name {
	margin-left: 25px;
	padding-bottom: 25px;
	/*font-family: 'Oswald', sans-serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	color: rgba(255, 255, 255, 0.8);
  /*text-shadow:  1px -1px 2px #000, 0 0 0 #fff, 1px -1px 2px #000;*/
	font-size: 2.5em;
}

#projects {
	margin: 100px 0 0 0;
	padding-top: 10px;
	/*font-family: 'Source Sans Pro', sans-serif;*/
/*	font-family: 'Poiret One', cursive;*/
/*font-family: 'Lato', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	font-size: 2.5em;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	width: 100%;

/*	box-shadow: 10px 10px 10px #000;*/
}

#aboutme {
	margin: 100px 0 0 0;
	padding-top: 50px;
	/*font-family: 'Source Sans Pro', sans-serif;*/
/*	font-family: 'Poiret One', cursive;*/
/*font-family: 'Lato', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	font-size: 2.5em;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	width: 100%;
}

#connection {
	margin: 100px 0 0 0;
	padding-top: 100px;
	/*font-family: 'Source Sans Pro', sans-serif;*/
/*	font-family: 'Poiret One', cursive;*/
/*font-family: 'Lato', sans-serif;*/
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	font-size: 2.5em;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	width: 100%;
}

.navtop {
	color: rgba(230, 230, 230, 0.5);
	font-size: 1em;
	margin-top: 100px;
	padding-left: 20px;
	font-family: 'Source Sans Pro', sans-serif;
	list-style-type: none;
	position: fixed;
	z-index: 10000;
	text-shadow: 2px 2px #000;
/*	width: 40px !important;
	height: 40px !important;*/
}

.navlinks {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0 auto;
	padding-bottom: 15px;
	letter-spacing: 5px;
	font-weight: bold;
}

a.links:hover, a.links:visited, a.links:link, a.links:active {
	color: #FF2701 !important;
	text-decoration: none;
/*	width: 40px !important;
	height: 40px !important;*/
}

@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale(1, 1);
}
 50% {
 -webkit-transform: scale(1.1, 1.1);
}
 100% {
 -webkit-transform: scale(1, 1);
};
}

@keyframes pulse {
 0% {
 transform: scale(1, 1);
}
 50% {
 transform: scale(1.1, 1.1);
}
 100% {
transform: scale(1, 1);
};
}

#test:hover {
	-webkit-animation: none;
	animation:none;
}

#glass {
	margin-top: 0px !important;
}

.animated {
	margin-top: 0px;
	padding-top: 100px;
	width: 100%;
}

#bill {
	font-family: 'Dosis', sans-serif;
	font-size: 4em;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	z-index: 100000;
	text-shadow: 0px 2px 3px #555;
/*	margin-top: 150px;
	margin-bottom: 150px;*/
}

#down {
	height: 150px;
	width: 150px;
	margin: 0 auto;
	margin-top: 500px;
	text-align: center;
}

#south {
	height: 75px;
	width: 75px;
}

.logo {
	margin: 0 auto;
	text-align: center;
}

.logos {
/*	margin: 0 auto;*/
	text-decoration: none;
}

/*.logos:hover {
	color: blue;
}*/

.social {
	margin-top: 25px;
	width: 65px;
	height: 65px;
	padding-left: 25px;
	padding-right: 25px;
}

.infotext {
	font-size: 1.5em;
	font-family: 'Source Sans Pro', sans-serif;
}

.enlarge {
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	padding-bottom: 15px;
}

.resume {
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}

figure { 
  width: 120px; 
  margin: 0 auto;
/*  background: white;*/
/*  border: 10px solid white; */
/*  -webkit-box-shadow: 0 3px 10px #ccc; 
  -moz-box-shadow: 0 3px 10px #ccc;*/
/*  -webkit-transform: rotate(5deg); 
  -moz-transform: rotate(5deg);*/
  -webkit-transition: all 0.7s ease; 
  -moz-transition: all 1s ease;
  position: relative;
}

figure img { 
  width: 100%; /* Scale down */
}

figure:hover {
  -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg);
/*  -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;*/
}

figure:focus {
  outline: none;
  -webkit-transform: rotate(0deg) scale(5); -moz-transform: rotate(0deg) scale(5);
/*   -webkit-box-shadow: 0 3px 10px #666; -moz-box-shadow: 0 3px 10px #666;*/
  z-index: 9999;
}
